body {
    margin: 0;
    background-color: #93d8d3;
  }
  .h11{
    color: rgb(238, 183, 1);
    font-size: 2rem;
  }
  .title{
    text-align: center;
  }
  .pn{
    color: #ee8104;
  }
  .td{
    font-size: 25px;
  }
  section{
    display: grid;
    grid-template-columns: 25% 75%;

  }
  nav{
    margin-top: 20%;
    height: 70vh;
    overflow-x: hidden;
  }
  .intro{
    display: flex;
    flex-direction: column;
    margin: 0 30px;
  }

  .small-size{
    font-size: 15px;
    color: black
  }
  h3{
    color: #b45304;
  }
  .main{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      background-size: 100% 100%;
      background-attachment: fixed;
      background-image: url('network-decryption-blog-1.jpg');
      /* background-image: url('cyber.jpeg'); */
      /* width: 100%;
      height: 100%; */
  }
  .container {
    width: 50vw;
    height: 60vh;
    display:flex;
    align-items: center;
    flex-direction: column;
  }
   #app-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
   }
   #app-container textarea{
    height: 60px;
    width: 500px;
    font-size: 18px;
    margin-bottom: 15px;
   }
   .plaintext{
    border-radius: 7px;
   }
  
   #buttons-container{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
   }
   .btn{
    width: 150px;
    padding: 10px 0;
    font-size: 1.2rem;
    border-radius: 8px;
    border: 1px solid #dd3737;
    background: #dd3737;
    color: white;
   }
   .btn2{
    width: 150px;
    padding: 10px 0;
    font-size: 1.2rem;
    border-radius: 8px;
    border: 1px solid #2db15f;
    background: #2db15f;
    color: white;
   }
   #buttons-container input{
    width: 40px;
    margin: 0 15px 0 15px;
    text-align: center;
   }